[2011-09-05 14:36] AlexanderYastrebov opened #1 "Buffered reader misprint"
26'th line: result = str(sef.buffer[self.pos:] + self.f.read())
Notice sef.buffer misprint

[2011-09-05 22:26] #1 closed, assigned to nobody

[2012-08-09 02:42] selik opened #3 "Support yajl2 backend"
I get an AttributeError when parsing a json file from GitHub Archive.

I installed `yajl` with Homebrew. It looks like [it uses Yajl version 2.0.4](https://github.com/mxcl/homebrew/blob/master/Library/Formula/yajl.rb). I installed `ijson` from source hosted here on GitHub with `python setup.py install`. This appears to be version 0.8.0. I'm using Python version 2.7.3, running iPython installed fro

[2012-10-01 03:16] #3 closed, assigned to nobody

[2012-10-18 11:36] satels opened #5 "Please"
Please, move last release to pypi.

[2012-10-18 16:18] satels opened #6 "Parsing error"
<pre>
for event in parse_value(lexer, symbol):
 File "/home/ivan/workspace/catalog/env/src/ijson/ijson/backends/python.py", line 102, in parse_value
   for event in parse_object(lexer):
 File "/home/ivan/workspace/catalog/env/src/ijson/ijson/backends/python.py", line 139, in parse_object
   for event in parse_value(lexer):
 File "/home/ivan/workspace/catalog/env/src/ijson/ijson/backends/python.py"

[2012-10-18 22:25] #5 closed, assigned to nobody

[2012-10-20 07:52] #6 closed, assigned to nobody

[2012-11-05 13:26] jnothman opened #7 "parse context '*.item' is ambiguous"
One callback missing from `yajl` is an equivalent of `yajl_map_key` for arrays, i.e. `yajl_array_item`. The fact that `ijson.parse()` indicates the context has the potential to remedy situations where such a callback would be useful. However, the context is unreliable, due to the ambiguity when `"item"` is a key:

[code]

[2012-11-13 02:39] #7 closed, assigned to nobody

[2013-03-15 13:49] guax opened #8 "Unicode char handling actually break unicode characters"
The line 109 of backends/python.py contains:

[code]

This is actually breaking unicode characters like Ç and Ã in JSON strings. The change in parser to return the symbol as is solve the issues on all of my tests.

[code]

My knowledge is shallow in this area so im not sure what kind of unicode problem this escape should solve since JSON strings must be valid unicode (or escaped unicode) symbols.

[2013-04-11 05:26] #8 closed, assigned to nobody

[2013-04-27 20:22] graingert opened #10 "would it be possible to add support for jsonselect style selectors?"
Eg from http://jsonselect.org/#overview

[2013-04-27 21:03] #10 closed, assigned to nobody

[2013-06-17 12:10] dozaand opened #11 "error parsing 1.1e+1"
get exception in parsing float numbers with positive power sign
code
import ijson

f=open("a.dat","rt")
objects = ijson.items(f, 'item')
objects.next()
f.close()
a.dat: ---------------------
[
{
    "a":1.1e+3
}
]

Traceback (most recent call last):
  File "desimalerror.py", line 6, in <module>
    objects.next()
  File "D:\comp\Python27\lib\site-packages\ijson-1.0-py2.7.egg\ijson\common.py", line

[2013-09-07 17:19] mittenchops opened #13 "Numeric decimals being converted into Decimal() objects"
I'm reading from a geographic shapefile that has, among other data types, a list of coordinates, such as...

[code]

The coordinates are getting converted in ijson into:

[code]

I'm not sure whether this is a bug or a feature, but it's making my database choke.  =)

My ijson loader looks like this:

[code]

My vanilla loader, without ijson, looked like this (and worked, but not on the large files

[2013-09-10 05:28] #13 closed, assigned to nobody

[2013-09-27 07:38] #11 closed, assigned to nobody

[2013-10-30 01:30] Psycojoker opened #15 "Bad cut on the buffer cause UnicodeDecodeError"
Hello,

I've encounter a very rare bug on the version 1.1 of ijson. I've try to create a bunch of code to reproduce it, but I can only managed to make it work (more or less) on a debian stable so I'm going to describe it instead.

Here: https://github.com/isagalaev/ijson/blob/master/ijson/backends/python.py#L88 you try to do a .decode("Utf-8") on a partial read of a file. Which works for 99.9% of

[2013-12-27 12:44] johngouf opened #18 "Get root items only"
Hi there,

imagine that I have a big array of json objects without an identifier.
For instance:
[
    {
        "id":"sdfsdf",
        "service_name":"sdfsfd",
        "expiration":"2099-12-31T00:00:00Z",
        "brief_description":"sdfsdfsdfsdfsdf"
    },
    {
        "id":"fsdfsdfsdf",
        "service_name":"sdfsdf",
        "expiration":"2099-12-31T00:00:00Z",
        "brief_description":"sd

[2013-12-27 15:28] #18 closed, assigned to nobody

[2014-04-03 09:30] tedx opened #20 "NaN support"
I'm trying to parse in Python some json that contain values of NaN but ijson is throwing an exception. I see that the standard json parser has the capability to handle NaN. Is this something you'd consider added to ijson?

[2014-04-04 09:22] tedx opened #21 "internationalization support"
In python I've been working with some json that has a lot of kanji in it and the parser will fail decoding it's internal buffer to utf8 if a read happen to split a kanji string in the wrong place. I've been using ijson because the json files can be quite large (2G) and the standard parser wants to read it all into memory which caused swapping and made my machine crawl but I may have use it if I ca

[2014-04-05 06:02] #15 closed, assigned to nobody

[2014-04-05 06:07] #21 closed, assigned to nobody

[2014-04-05 06:11] #20 closed, assigned to nobody

[2014-09-26 00:48] surbas opened #24 "ijson on pypi is out of date."
Thanks so much for this lib. It was exactly what I was looking for. However with that said is it possible to push a new version to pypi. I encountered issue #15 with it and glad to see it was fixed, but after the last push to pypi. It would be nice to have it updated as it is a over a year old now.

[2014-10-11 07:37] #24 closed, assigned to nobody

[2014-12-18 11:48] tedx opened #26 "parse error"
What does the 'at <number' mean, line, byte offset? I'm parsing big json files and it would be nice if the error message would show some of the json prior to the error to make it easier to find/fix.

[2014-12-20 23:18] #26 closed, assigned to nobody

[2015-02-07 02:50] jimklo opened #28 "Fails on trivial JSON in Python 3.4"
Not quite sure how to debug, but tried installing from github master.
Python 3.4.2 w/ libyajl 2.1.0 on OS X 10.10

[code]

sample2.json contains
[code]

when I execute my script I get the following error:

[code]

I stuck pdb on line 95 in yajl2.py, this is what I discovered:

[code]

From the surface it looks like \n isn't getting ignored or stripped, however your Travis tests for Python 3.4 seem

[2015-02-07 03:28] isagalaev commented on #28
From the top of my head, I'd say it's because you're feeding it a decoded unicode stream instead of raw bytes. Try to give it a simple `open(self.filename, 'rb')`.

(I'm sounding uncertain because I never actually tried to give a unicode buffer to YAJL as an input :-) )

[2015-02-07 07:07] jimklo commented on #28
Yep. That was it. Thanks.

It's odd open(filename) just works in P2 but not in P3.  Defaults must have changed.

[2015-02-07 07:07] #28 closed

[2015-02-07 07:14] isagalaev commented on #28
The default mode of `open()` in both Py2 and Py3 is text. However in Py2 text is represented by byte strings and that's what you get from `.read()`, no matter in which mode the file was opened. The mode in Py2 pretty much only controls how line breaks are treated on different platforms. Py3 switched to representing text with unicode and now you `bytes` type from `open('...', 'rb')` and `str` type

[2015-03-04 00:58] BlaXpirit opened #29 "Allow to differentiate invalid and incomplete JSON"
There is a difference between JSON that is definitely invalid and JSON that is invalid, but may be made correct by completing it.

And that's the information I need to get in my project and the only reason that I may want to use an iterative JSON parser.

Examples of invalid JSON:
[code]

Examples of (potentially) valid JSON:
[code]

I see that you removed just the feature that I needed in commit

[2015-03-09 23:59] isagalaev commented on #29
Hey there! Sorry for taking so long to reply… I get your point and I'll try to reintroduce the InompleteJSONError back into the code. The problem is, I didn't remove it for no reason, there was something wrong with it in one of the backends (can't remember all the details right now). So it would take a bit more effort than simply reverting that change. I'll get to it as time allows.

Alternatively

[2015-03-26 12:38] acrisci opened #30 "Python3 compatibility issue"
Running this very simple example with python3:

[code]

Gives this error:

[code]

It works just fine with Python 2.

[2015-03-26 12:41] acrisci commented on #30
I get the error even when the contents of the json file is very simple, such as `{"test": "ok"}`.

[2015-03-26 13:08] acrisci commented on #30
I got it to work by opening the file as bytes:

[code]

Maybe there should be a check that the stream must be in bytes for a nicer error message.

[2015-03-26 14:41] acrisci opened #31 "Control buffer size"
I have an application that reads a continuous stream of json data from a process as an infinite array. I need to read an object out of this array about once per second. Each object is about 200 characters long.

The current buffer size is 16 * 1024. This means that I don't get events until the buffer is full, which takes a very long time. I need to make the buffer size very small for my applicatio

[2015-03-26 15:57] pwalsh commented on #31
+1

[2015-03-26 17:40] isagalaev commented on #30
Yes, the requirement for the stream to be bytes is not documented anywhere, sorry :-( The intention is to open network streams anyway which are bytes by default. If you could make a patch with a better error message I'd happily merge it!

[2015-03-26 17:44] isagalaev commented on #31
That is a very interesting usecase indeed. Could you make a patch for this? Should be pretty straightforward…

[2015-03-26 20:47] acrisci commented on #31
Looking through the code, I found I could already do this with the yajl backend.

[2015-03-26 20:59] acrisci commented on #30
There are a few ways to do that.

You could check that the stream is bytes before trying to parse, but then that might break some python2 applications.

You could check for the exception when you read.

You could try to do the conversion implicitly for python3.

You could just do a documentation update.

[2015-04-01 00:01] asavpatel92 commented on #13
@mittenchops currently I am having same problem... I am new to ijson can you guide me where do I need to make changes??? my db only supports int values so I probably will have to convert all values to string and then insert it into db.

[2015-04-14 21:06] #31 closed

[2015-04-14 21:36] #30 closed

[2015-04-21 21:26] #29 closed

[2015-04-21 21:28] BlaXpirit commented on #29
:+1: Thanks

[2015-04-21 21:29] isagalaev commented on #29
Oh, since you're so conveniently online, could you also test it on your data? I'm going to push a new release shortly so it'd be nice to have some extra testing. Thanks!

[2015-04-21 21:30] BlaXpirit commented on #29
But I have provided many tests in my original post. Just add those.

[2015-04-21 21:31] isagalaev commented on #29
Ah… Indeed :-)

[2015-04-21 21:36] isagalaev commented on #29
btw, a couple of those are perfectly valid and complete:

    {"a":"b"}
    ""

[2015-04-21 21:37] BlaXpirit commented on #29
includes valid.

But yes, sorry for confusion

[2015-05-21 15:22] fizyk opened #33 "Ability to iteratively parse a json array"
I've got this kind of list:

[code]

And I'd  like to iteratively parse out two objects:
`{"feed": {"map": 2}}` and `{"feed": "alert"}` right now unfortunately I'll get full json parsed if I'll use ijson.items

[2015-05-21 15:39] isagalaev commented on #33
The empty prefix in `items(f, '')` means the root object which is your entire array. If you want individual items of the array, add the special word "item" to the path: `items(f, 'item')`. This works for all arrays on any level of hierarchy.

[2015-05-21 16:01] #33 closed

[2015-05-21 16:01] fizyk commented on #33
thanks!

[2015-06-02 02:57] tedx opened #34 "valid floats cause UnexpectedSymbol exceptions"
Floats like 5e-07 which I beleive is a valid value cause UnexpectedSymbol exceptions. 5.0e-07 doesn't have the same problem.

[2015-06-02 04:10] isagalaev commented on #34
I can't reproduce it with the current code using either python or yajl2 backends. Which version are you using?

[2015-06-02 04:11] isagalaev commented on #34
Here:

[code]

[2015-06-02 12:13] tedx commented on #34
Yes I had an older version I updated and no longer see the issue, thanks.

[2015-06-02 17:04] isagalaev commented on #34
Great!

[2015-06-02 17:04] #34 closed

[2015-06-17 17:33] Dav1dde opened #35 "CFFI Instead of Ctypes"
So, I was playing around with parsing huge JSON files (19GiB, testfile is ~520MiB) and wanted to try a sample code with PyPy, turns out, the PyPy needed ~1:30-2:00 where as Python 2.7 needed ~13 seconds (the pure python implementation was close at ~8 minutes).

Apparantly ctypes is really bad performance wise, especially on PyPy. So I made a quick [CFFI](https://pypi.python.org/pypi/cffi) mockup:

[2015-06-17 17:44] isagalaev commented on #35
Wow, this definitely looks cool! Thanks for investigating it. To be frank all the C/Python interop is an unexplored territory for me, so if you could fork it and finish CFFI backends that'd be awesome!

[2015-06-18 10:06] Dav1dde commented on #35
I am currently working on a pull-request, I want to restructure the yajl backends, so it will automatically load in this order: `yajl2-cffi, yajl2-ctypes, yajl1-cffi, yajl1-ctypes`. Is there any benefit to let the user choose which backend they want?

Reading the patchnotes yajl2 has a 20%-30% speedboost in comparison to yajl1, so is there any reason you want to choose yajl1 over yajl2? Then from

[2015-07-24 22:30] soundofjw commented on #35
+1 for @Dav1dde's thoughts here. We're using `ijson` to iterate some very large elastic search aggregations, and the importance of using the `yajl2` backend was initially missed on me.

:beers:

[2015-08-04 14:32] lavr opened #37 "IncompleteJSONError with yajl2 on python3"
Hi!
I have strage IncompleteJSONError on OS X with ijson 2.2 from pypi and yajl2 2.1.0 from homebrew:

    $ python3 -V
    Python 3.4.3

    $ echo '{"a": 1}' | python3 -c "import ijson.backends.yajl2 as ijson; import sys; print(list(ijson.items(sys.stdin, '')))"
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/tmp/jsonstream/.env/lib/python3.

[2015-08-11 06:31] socketpair opened #38 "Claim finite state machine, but really is not"
[code]

will generate long trace-back like:

[code]

But instead, it should make highly-enclosed arrays for that case, consuming memory (heap), but not the stack!

[2015-08-11 06:46] isagalaev commented on #38
Uhm… Where does it claim to be a state machine? In fact, it doesn't claim pretty much anything. It's just an implementation with its own idiosyncrasies and limitations, it doesn't owe anything to the world, sorry :-)

[2015-08-11 06:46] #38 closed

[2015-08-26 12:23] imposeren commented on #37
seems like some problem with unicode/bytes. I have similar problem on python2:

[code]

result:
[code]

[2015-09-22 20:11] isagalaev commented on #35
Sorry for letting this hang for so long…

The automatic selection of the fastest backend was removed in 96defaf to fix #22. Basically, it seems impractical to test all the combinations of backends and environments for weird bugs in the selection algorithm and since it runs unconditionally we risk making the library unusable in this case. I think the reasoning still stands, even though I understand

[2015-09-22 21:43] #35 closed

[2015-09-23 04:25] isagalaev commented on #37
The problem here is that yalj expects input to be a byte array and `sys.stdin` in Python 3 is a unicode object. Use `sys.stdin.buffer` to access raw binary data. And regular files should be opened as `open(filename, 'rb')`.

(Sorry for neglecting this ticket for so long.)

[2015-09-23 04:25] #37 closed

[2015-11-02 00:04] djrobust opened #40 ""JSONError: Additional Data" when parsing simple JSON string"
I am trying to iteratively parse a large JSON file. However, after the first few events ijson raises a `JSONError: Additional data`. I have looked into ijson's sourcecode, but fail to understand what the problem is.

Here is a minimal working example, my eventual goal to extract all objects with '.com' in the body.url.

[code]
returns
[code]

[2015-11-02 03:17] isagalaev commented on #40
This indeed is not a valid JSON. Shortened it looks like this:

    {"body": ... }
    {"body": ... }

You can't have more than one value at the root of a JSON document, and here you've got two objects simply following one another. So the very beginning of the second one is that "additional data" that ijson complains about.

You probably want to wrap those in an array:

    [
      {"body": ... },

[2015-11-02 05:19] djrobust commented on #40
Thank you for the explanation and the fix, which works well!

[2015-11-02 05:19] #40 closed

[2015-11-05 08:23] hwkongsgaard opened #41 "Encoding"
Hi, is it possible to set the encoding when parsing?

[2015-11-11 01:22] isagalaev commented on #41
Not directly.

If you're using the yajl backend, it has an option to not check the input stream to be utf-8, which might work for you. With the python backend you could first wrap your input stream into a decoder from your custom encoding and then feed the unicode stream into the parser.

I should note however that JSON is supposed to be in utf-8 by design.

[2015-11-11 16:50] aaronkaplan opened #42 "question regarding a stream of \n separated objects"
Hi @isagalaev

I have a \n separated list of JSON objects arriving via a stream.

Example:
[code]

I wrote a small "SAX" parser based on ijson and so far it performs nicely **except** for the \n end of objects. I get this error message:

[code]

So, I assume that ijson will not parse this non-100% JSON format. However, most streaming JSON files are formated exactly like this: \n separated objects

[2015-11-11 21:59] isagalaev commented on #42
No, I don't think extending the JSON parser itself to support the variant you're proposing would be a good idea.

From the design point of view it's simply too arbitrary and it lacks any formal specifications. I'm not so sure that it's how "most" of JSON streams are constructed. Note that the Wikipedia article that you're referring to actually describes a somewhat different format: the objects the

[2015-11-11 22:09] aaronkaplan commented on #42
okay, thx for the analysis. I did definitely encounter many \n separated streaming JSON files. However, if indeed YAJL can't handle that, then of course it's a different matter.
I'll take a look at the basic_parse() function.

[2015-11-11 22:09] #42 closed

[2015-11-19 18:50] nlevitt opened #43 "api for async use"
Would like to have an api that can be used for example with asyncio. https://github.com/kashifrazzaqui/json-streamer can be used that way (but it doesn't "yield native Python objects out of a JSON stream located under a prefix"). Here's what one approach would look like:

[code]

[2015-11-24 17:40] athoune opened #44 "2.2 release from pip doesn't handle cffi backends"
It works with ```pip install --upgrade git+https://github.com/isagalaev/ijson.git ```

Please, can you release and push a new version to pypi?

[2015-11-30 17:58] tgalery commented on #44
yep that would be nice

[2016-02-03 10:15] haizaar commented on #44
+1 for that! Please release.

[2016-02-03 22:28] kxepal opened #45 "asyncio backend"
Recently @ethanfrey raised a question about using ijson with asyncio corountines. What was my surprise when I found asyncio.py module in ijson.backends package for 2.2 version downloaded from PyPi. There are no such file in the source repository for the same tag.

Unfortunately, that module doesn't implements any asyncio support and seems like just an outdated python backend, that accidentally lea

[2016-02-05 01:14] isagalaev commented on #45
That file has indeed been picked up from source by mistake, sorry! I meant to try and make an async backend but couldn't find time after all.

My main problem was inventing the right API for it. Back then Python didn't have an async *iterator* protocol, so the usual approach `for item in ijson.item(..):` wouldn't work as it's a pull parser and it access the source of bytes (i.e. network) whenever

[2016-02-05 01:16] isagalaev commented on #43
Took me a while to get to it, sorry!

The point of ijson was to go away from the callback-based API towards a more natural looking iterator, so the approach you're describing is not for ijson. I laid out my thoughts and current state of affairs in a similar ticket #45 (closing this one as a dupe, then).

[2016-02-05 01:16] #43 closed

[2016-02-06 01:17] isagalaev commented on #44
Released 2.3 with CFFI to PyPI. Sorry for taking so long!

[2016-02-06 01:17] #44 closed

[2016-02-06 04:05] #41 closed

[2016-02-07 09:27] kxepal commented on #45
@isagalaev
Suddenly, for 3.3/3.4 there are no better solution for async iteration: still `while True` with a sentinel guard or exception catch. With `async for` things started to be much more nicer.

As for API, I'm playing with around and would like to make it something like this one:
[code]

Behind the `ijson.items` call we hide an object with an interface that implements async-for protocol and

[2016-02-08 05:37] isagalaev commented on #45
To be honest, I don't even think we need to support versions older than 3.5. Since we didn't have any support for async before we don't have any legacy code depending on it. So if we implement a pure `async for` API nothing is going to break. And for people living with 3.3 and 3.4 upgrade to 3.5 is a no-brainer and shouldn't break anything either. (I also had plans to retire 2.x support entirely a

[2016-02-08 07:05] kxepal commented on #45
Well, 3.4 support wouldn't change much except `yield from` vs `await`. Still there is no `anext()` function, so `yield from coro.next()` turns into ugly `await coro.__anext__()`.

So this support is cheap while most of aio-libs are still supports 3.4 - those users are our clients as well.

[2016-02-08 08:00] ethanfrey commented on #45
Hi, I have a working prototype, that is just lacking real-world testing. I started with ijson, then realized I couldn't use any of the code, since it was all generators, which don't play around well with corotuines.  So, I started rewriting all I could, and manually unwrapping them into __aiter__ and __anext__ (and adding a next() method as a nice wrapper for __anext__).

Anyway, it is currently i

[2016-02-08 08:12] ethanfrey commented on #45
@kxepal I think the implementation looks nice, and requires really minimal changes to the flow.  The downside I see is so many coroutines.

I know they are light-weight, but I am not sure how light-weight.  One coroutine for the lexer, one for the parse_value, which recurses into another for parse_object, which recurses into another for parse array, which recurses into another for parse_values, ..

[2016-02-08 08:26] kxepal commented on #45
@ethanfrey
Basically, you're right: [coroutines aren't cheap](http://techspot.zzzeek.org/2015/02/15/asynchronous-python-and-databases/).

However, if we need performance then yalj backend have to be reused - I'll add this feature a bit later today. Then we'll have ~4 coroutines: file reader, basic parse, parse, items. May be one-two more, I think. This will solve all the performance questions and

[2016-02-08 08:40] isagalaev commented on #45
A quick note on performance. It only makes sense to talk about performance of the pure python backend under PyPy and it's impossible to tell which approach will be faster there, you have to measure. So I'd say we should optimize for readability first, not performance, as is usually the choice with Python.

[2016-02-10 09:54] ethanfrey commented on #45
@kxepal
Nice article about coroutines, nice to see some measurements that confirm/disprove hunches.

I found some time to take a deeper look at this code and am actually quite impressed.  The only minor comment is the compatibility with "async for".  It looks like using the AsyncIterable it will work for the various objects, but I think BasicParser doesn't raise it (but rarely will be used directl

[2016-02-10 10:10] kxepal commented on #45
@ethanfrey
That's a good point about BasicParser. While it wouldn't be used directly, still there was left an ugly hack in Parser to raise StopAsyncIteration when all the data had been read. So problem exists in design, but shouldn't affect the end user. I'll fix that anyway, thanks!

[2016-03-16 22:43] fivejjs opened #47 "NEED SPEED UP. It is good but slow."
Hi,

Is it possible speed up it with concurrent processing.

[2016-03-16 23:28] isagalaev commented on #47
Did you try the CFFI backend?

As for concurrency, it's tricky in Python because of the GIL. And with multiple processes you'll loose much more on IPC than you gain from parallelizing.

[2016-03-18 08:53] apiszcz opened #48 "Please consider conventional __version__ support to module"
FILE: __init__.py
__version__='2.3'

[2016-04-13 01:54] fivejjs commented on #47
I will try CFFI then. Thanks,

[2016-04-13 03:21] #47 closed

[2016-04-20 18:18] danvk opened #49 "Python3 support for yajl2_cffi"
With Python 3.5, I get the following error:

[code]

My code works fine in Python 2.7, however.

Here's the full code:
[code]

[2016-04-26 18:00] isagalaev commented on #49
The fix is, explicitly open the file in binary mode (which is what Python 2.x did by default): `open(sys.argv[1], 'rb')`.

JSON is in fact binary data, a utf-8 encoded stream, and this is what the underlining C library expects on input, not an already decoded Python string in whatever internal representation it happened to be. In Python backend we were able to coerce those two input types to unico

[2016-04-26 18:00] #49 closed

[2016-05-16 08:19] thedrow opened #50 "Use new style CFFI callbacks in CFFI backend"
See http://cffi.readthedocs.io/en/latest/using.html#extern-python-new-style-callbacks

[2016-05-24 14:39] guyskk opened #51 "About performance"
Hi, I am writing [validater](https://github.com/guyskk/validater), which is based on ijson, but I found that
ijson's performance is poor, expecially deep list: `'[' * 8000 + ']' * 8000`.
here is my test result, it is much slower than standard json:

[code]

[benchmark](https://github.com/guyskk/validater/blob/master/benchmark.py)  and usage:
[code]

[2016-06-04 00:16] naringas commented on #51
try using the cfffi backend
[code]
https://github.com/guyskk/validater/blob/master/validater/schema.py#L8

try with
[code]

but you will need to install some things in your environment.

[2016-07-10 16:50] #51 closed

[2016-08-08 12:47] akaIDIOT opened #53 "Floaty numbers are parsed as ints"
`common.py` makes sure to check whether the decimal `1.0 == int(1.0)`, return `1` if that is the case. Values sent as `1.0` over the wire show up as `1` in Python. I get that this might in some cases be considered a feature, and JSON makes no explicit distinction between integers and floats, but this is causing issues for round trip (de)serializations.

For reference, Python's default `json.loads(

[2016-08-08 22:12] vrastogi opened #54 "yajl2_cffi backend type error"
With the following minimal example

[code]

and a simple json file containing, for example, `[1,2,3]`

I get the following error

There is no error when using the pure python backend.

Using Python 3.5, Ubuntu 16.04 with OS-packaged yajl2. ijson==2.3; cffi==1.7.0

Will be happy to provide other information.

[2016-08-08 23:10] isagalaev commented on #54
In Python 3 `open()` gives you a stream producing Python's unicode strings, and the underlying yajl doesn't know how to deal with those. So, the correct way of parsing JSON files is actually to open them in `'rb'` mode.

The fact that it seems to work in other libraries is due to legacy expectations of strings and bytes being interchangeable, so they (and us, in the Python backend) explicitly supp

[2016-08-09 00:13] vrastogi commented on #54
Thanks for the quick response and pointing out the problem in my code. Closing the issue.

[2016-08-09 00:13] #54 closed

[2016-08-12 14:16] akaIDIOT commented on #53
[code]

Works but makes my stomach churn...

[2016-09-19 19:49] quezak opened #55 "TypeError when trying to use CFFI backend"
When trying to use the CFFI backend as instructed in the readme, I get the following error:
[code]

It seems to happen in all cases, a trivial example:
[code]

The same code, when the import is changed to just `import ijson`, works just fine:
[code]

OS: Gentoo Linux
ijson version: 2.3
yajl version: 2.1.0
cffi version: 1.8.3
python version: 3.4.3

[2016-09-19 19:56] quezak commented on #55
Additional info: I also get an error using `ijson.backends.yajl2`:
[code]

Trying to use `ijson.backends.yajl` results in `ijson.backends.YAJLImportError: YAJL version 1.x required, found 2.1.0`, but that's expected.
Using `ijson.backends.python` works fine.

By the way: seeing the above results, do I guess correctly that python is the backend used by default?

[2016-09-19 20:00] quezak commented on #55
Sorry, I forgot to check closed issues before.
This is a duplicate of #54

[2016-09-19 20:00] #55 closed

[2016-10-12 03:04] rtobar commented on #50
I have an initial set of changes in a local repo that implement this, but not in a publishable form yet. Performance-wise this doesn't bring much benefit at the moment though compared with other parts of the code, and it of course imposes the requirement of a compiler during installation (which could be checked in setup.py).

[2016-10-15 03:32] isagalaev commented on #50
Looks like this is fixed by #56.

[2016-10-15 03:32] #50 closed

[2016-10-15 05:19] isagalaev commented on #48
Fixed in 0dc4857

[2016-10-15 05:19] #48 closed

[2016-10-15 05:37] #53 closed

[2016-10-15 05:38] isagalaev commented on #53
Yes, it makes sense. Thanks for pointing this out!

[2016-12-29 03:06] diahnuri opened #59 "cannot parse integer written in format 1.55E10"
Dear Sir,,
I have a large json, the size is around 1,5GB.  One item in json is price of property which written in format e.g. 1.55E10, 6.5E10, etc. When I parse with IJSON, the error like this 'Unexpected symbol "E" at 377'.
Temporary solution is I must replace this integer format into 1.55e+10, but It's so hard to replace all parts in large JSON. Please help me. Any help would be appreciated.

[2017-02-02 23:17] catstavi opened #60 "python backend retains memory while streaming!"
First of all, this library's been very helpful to me, thanks for all your time on it!

I ran into a weird issue where as I streamed through some json objects, the process held onto more and more memory. This is only with the python backend.

We managed to track the issue down to the Lexer method. https://github.com/isagalaev/ijson/blob/master/ijson/backends/python.py#L25

There, `buf` is being app

[2017-02-04 00:35] groutr opened #61 "TypeError with Python 3.6"
With yajl 2.1.0 and cffi 1.9.1
[code]
produces
[code]

[2017-02-04 00:37] groutr commented on #61
Duplicate of #54 (my bad)

[2017-02-04 00:37] #61 closed

[2017-03-26 05:30] ghost opened #62 "Iterating over a collection!?!?"
Hello, I have a 12gb JSON file that I am trying to iterate over.

The format is in a collection style as follows:
{
"key1": {...},
"key2": {...},
"key3": {...},
...
}

I cannot for the life of me figure it out. Pretty much, I want to chunk the root level keys one at a time, and handle them individually.

Any help would greatly be appreciated!

Thanks!

Connor

[2017-03-27 06:08] rtobar commented on #62
Is that your highest structure level (and thus you have only one big object in your 12gb JSON file)? `ijson.items` could only be used here at the highest level as only one prefix can be given, and that would have to be `''`. At the end you would get the same big, high-level object you would get via `json.load`.

What you will probably need to do is iterate over `ijson.parse` to manually receive th

[2017-03-27 13:32] Zocho commented on #62
So with my experimentation, I have this small chunk of code.

[code]

Each iteration of this for loop returns a generator object of each sub-JSON object.

Below I am providing a better idea of my structure.

[code]

The block of code I mentioned above seems to return a generator for each key in the JSON object.

A generator for "111", "222", and "333"

If this of any use?

Thanks so much for getti

[2017-03-28 02:47] rtobar commented on #62
In your experimental code you are iterating over match_data for every key in match_keys which is not optimal. I still think the best way is to go with `ijson.parse` instead of `ijson.items`, and that way you can iterate only once over your data.

I imagine it similar to this:

[code]

Now, if you could actually change the data itself then it would be simply easier if you organized it as an array i

[2017-03-29 03:33] isagalaev commented on #62
[code]

[2017-04-10 13:50] akaIDIOT opened #63 "Publish current master to PyPI"
Current release on PyPI is a bit behind on the current master on github. The latest commit being one I personally care about, I'd love to see the current state on PyPI. As the int/float parsy thing was a bug for my env, I find myself building the current master and distributing that build to people running into it or still monkey-patching a fix into code.

Can the current state of things be releas

[2017-06-06 12:37] HarkonenBade commented on #63
+1 for this request.

[2017-06-20 03:32] franklingu commented on #60
what is the status of this issue? Thanks

[2017-06-20 03:37] franklingu opened #64 "add more documentation to the package"
Hi, I am doing some research and find this package, this it is really helpful for parsing my very large json files. The only thing is that the documentation is not sufficient at all and maybe adding docs would help a lot for this package to get more attention:

[This SO answer](https://stackoverflow.com/a/17326199) actually provides some brief but useful documentation already

[2017-06-28 03:25] tedx opened #65 "'FFI' object has no attribute 'new_handle'"
I was trying to use the yajl2_cffi backend on a system without a compiler installed and I get an exception:
'FFI' object has no attribute 'new_handle'

Is this the expected behavior? Is a compiler required for this to work?

Ted

[2017-07-25 20:57] wfscheper opened #66 "isjon raises AttributeError when importing yajl2 backends on RHEL6"
Attemping to import either the yajl2_cffi or yajl2 backends on RHEL6 throws an AttributeError instead of ImportError.

Quick reproduction case:
[code]

Instead of importing the pure-python backend, this results in the following stacktraces depending on whether cffi is installed or not:

With cffi:
[code]

Without cffi:
[code]

Fix is to wrap `require_version(yajl.yajl_version(), required)` at line

[2017-09-26 06:23] lin1000 commented on #62
Hi @isagalaev , thank you for your sample and it's quite helpful. Here is a enhanced version it to avoid duplicate object creation for nested data object in json.

[code]

[2017-09-29 17:41] nicholastulach commented on #62
I have this exact case, but what would the second argument to `items` be? It makes no sense that it is `'item'`, since that isn't defined anywhere. How do you use `ijson` to loop through a JSON file where the top-level element is an array like in the sample quoted above?

[2017-09-29 19:43] isagalaev commented on #62
@nicholastulach `item` is a special "keyword" denoting an element of the array. So yes, for a top-level array the query in the second argument would be simply `'item'`.

[2017-09-30 11:33] lin1000 commented on #62
@nicholastulach it's will be easy to understand if you try to print out the values of prefix, event, value. The "item" will appear in the prefix part.
[code]
ijson.items(data, 'item') is just a wrapper of ijson.parse to help you loop through the JSON file. So the "item"

[2017-12-07 19:00] garthgoodson opened #67 "Ability to reinitialize parser mid stream"
I'm trying to parse multiple discrete json object per file: E.g.
{
  "object": 1
}
{
  "object": 2
}

And while I can parse the first object, I'd like to be able to reinitialize the parser such that I can start from scratch with the second object (since these items are not in a json array).  Currently I get an Additional data error when I hit the second object.

[2017-12-12 19:54] carver commented on #45
@isagalaev @kxepal Any updates on this? #46 seems to add this support, and @luigiberrettini was able to merge it in another fork. I'd love to use this in an async context. (Py 3.5+)

[2017-12-12 20:07] kxepal commented on #45
If there is need in any change requests I'm ready to handle them, but the final decision is up to @isagalaev .

So far it works good enought and ready for merge.

[2017-12-12 20:14] isagalaev commented on #45
Hey guys… I am currently away from all of my open source projects and don't have any estimate on when I get back. So feel free to use forks, you don't have to rely on me being available.

[2017-12-12 20:41] joshash opened #68 "Doing this json procedure more efficiently in ijson?"
(x-post from Stack Overflow)

I have this massive json file. and I run out of memory when trying to read it in to Python. How would I implement a similar procedure using ijson?

    import pandas as pd

    #There are (say) 1m objects - each is its json object - within in this file.
    with open('my_file.json') as json_file:
        data = json_file.readlines()
        #So I take a list of these

[2017-12-12 20:47] kxepal commented on #45
Hi @isagalaev !

It's a pity to hear that. Hope you'll get back to opensource soon! But until then, to not divide ijson community into forks, how do you feel to turn ijson into GH org, assign some co-maintainers and let them help to keep ijson project up to date? Doing merges, releases and everything else? Certainly, you'll have veto voice as the owner. I could help with maintenance since I'm inte

[2017-12-12 21:34] isagalaev commented on #68
https://stackoverflow.com/a/47781928/204257

[2017-12-12 21:34] #68 closed

[2017-12-20 00:45] jmcken8 commented on #66
+1

[2018-02-28 20:51] ozmium commented on #42
Related/similar issue: #40

[2018-04-05 12:05] cowbert commented on #45
Just fork it already. That's one of the core principles of open source and tools like git (originally designed for forking linux kernels) and github make it easy for that reason. You can even submit the fork to pypi after proving you can maintain it. There is nothing counterproductive about forking.

[2018-04-08 15:10] JasperKirton commented on #40
Hello,
any idea how to do this sequentially with a large (100gb) JSON file in Python code?
Many thanks

[2018-04-12 12:51] latha19jan opened #69 "Ijson support for unicode"
Characters such as ö,™ when parsing throws UnexpectedSymbol.
Can somebody help on this issue.Will ijson support unicode characters

[2018-04-16 00:51] prathameshpatel commented on #62
I am working on JSON files with size in gigabytes and was researching ijson as compared to regular json. What is the performance difference between:
1) getting objects through ijson.items() iteration
2) individual events through ijson.parse() iteration
???

BTW, my dataset is primarily a list with empty top level prefix and every datapoint has almost same map-keys.
In my case the runtime for objec

[2018-04-17 05:33] prathameshpatel commented on #62
Hi @rtobar ,

Thanks for the reply, it helps clear some things. Can you help me use your additional C backend files in my original ijson installation ?
I have tracked down the location of ijson installation on my system. Should I just add the two additional backend files - _yajl2.c and yajl2_c.py to the installation directory/ijson/backends/ ?
Or is there some additional process I need to follow ?

[2018-04-17 05:49] rtobar commented on #62
Hi @prathameshpatel,

You should first get a copy of the code in my repository's `cext` branch (e.g., `git clone -b cext https://github.com/rtobar/ijson.git`). Then you need to install it via the normal installation procedure (e.g., `python setup.py install` or `pip install .`). The setup.py script should try to find your yajl2 installation and compile the extension. If yajl2 is not found, try usi

[2018-04-25 09:29] akaIDIOT commented on #59
Do you have an example of this? The following seems to work for me:

[code]

[2018-05-02 07:07] TrinhDinhPhuc commented on #40
@isagalaev  @djrobust  thanks for the explanation, but how to fix it by coding? I dont know how to write that code to insert " ," after each line

[2018-08-20 20:01] cablehead commented on #67
An example use case this would make possible, receive json encoded stats emitted periodically from a server over a long lived socket connection.

[2018-09-11 00:44] acrisci commented on #31
@jmarshall9120 [here](https://github.com/acrisci/i3-dstatus/blob/master/i3dstatus/generators/other-statuslines) is the use case I was referring to in the issue.

[2018-09-18 17:32] ericbarnhill opened #70 "Multiple file opens required for multiple iterators on same JSON"
Something that might be clarified in the documentation:

While IJSON returns a generator of a specific item within the JSON, stepping through the generator steps through all items, affecting any additional iterators. Example:

    f = open(filepath, 'r')
        g1 = ijson.items(f, Category1)
        g2 = ijson.items(f, Category2)
    [...]
    f.close()

If i call g1.next() within [...], it will

[2018-09-24 12:49] SalomonSmeke commented on #13
I wanted to add what landed on the codebase I'm working on so that this isn't an arduous read for anyone in the future:

[code]

[2018-11-01 02:55] StudyMLCN opened #71 "how to transform the txt(saving my dictionary) to dictionary that can be used in Python?(about 10)"
my data's format is :
    {
“a”:[1, 2, ...... , 1024],
"b":[1, 2, ...... , 1024],
"c":[1, 2, ...... , 1024]
}

I want to save it as a dictionary in Python and use it to do experiment.What should i do??

[2019-01-18 08:13] SilasK commented on #66
What would be the solution to this error? installing ijson or is it not possible to use sourmash on a RHEL6?

[2019-02-02 18:17] Hugo-Gomez commented on #40
@TrinhDinhPhuc
Try `jsonfile.write(',')` on your iteration like :
`for row in reader:
        json.dump(row, jsonfile)
        jsonfile.write(',')
        jsonfile.write('\n')`

[2019-02-13 07:54] piskvorky opened #73 "Unexpected symbol '\ufeff' at 0"
Python==3.6.5, ijson==2.3:

[code]

This happens routinely on Windows, which inserts the BOM character at the beginning of UTF8 files.

What is the recommended way to deal with parsing JSON file streams on Windows?

[2019-03-09 03:50] etos commented on #13
simplejson / ujson will dump Decimals as floats

[2019-04-01 16:42] bmizhen-exos opened #75 "A bug when setting multiple_values=True"
Hello, I am trying to parse a stream that contains multiple json objects, one after another, not one per line.

I am doing this:
[code]

Getting the following exception:
[code]

This looks to me  like an int is being passed where underlying c library expects a cdata object.
Is this a bug?
And a separate question am I using the library correctly for reading a stream of json objects?

Thank you!

[2019-04-01 16:57] bmizhen-exos commented on #75
Wrapping the third arg in ffi.new(1) solved the problem.
I will send a pull request

[code]

[2019-04-01 17:00] bmizhen-exos commented on #75
Hmm, I found that the fix is already there
https://github.com/isagalaev/ijson/blob/master/ijson/backends/yajl2_cffi.py#L172
But it's not in my code. Maybe it needs to be released?

[2019-05-02 04:06] SalomonSmeke commented on #73
Given that the issue here is just the BOM character, (this _is_ an invalid json stream). I would do something like:

[code]

[2019-05-02 04:25] SalomonSmeke commented on #70
Not quite sure that this belongs in the documentation for iJson, all buffers are consumed on read, this is just how buffers work. You could _optionally_ reset the seek after each event, and then seek back to the seek position at the start of each event. But that would be really slow and make little sense.

Basically, you are correct that this would require multiple file opens. But I don't think th

[2019-05-02 04:33] SalomonSmeke commented on #73
Here is some stack overflow information in case your buffer is not a subclass or TextIOBase: https://stackoverflow.com/questions/8898294/convert-utf-8-with-bom-to-utf-8-with-no-bom-in-python

[2019-05-02 04:37] SalomonSmeke commented on #75
though the actual solution is for the latest version to be put on PyPi

`-e git://github.com/isagalaev/ijson.git@e252a50db34b71cc2b5e0b9a77cd76dee8e95005#egg=ijson # module: ijson;`

should do ya fine in requirements.txt

and for just pip install:

`pip install git+https://github.com/tangentlabs/isagalaev/ijson.git@e252a50db34b71cc2b5e0b9a77cd76dee8e95005`

[2019-05-02 04:40] SalomonSmeke commented on #67
https://github.com/isagalaev/ijson/issues/75

This is already implemented per the original issue. It is however behind a bug who's fix is not published.

[2019-05-02 04:44] SalomonSmeke commented on #71
This is very similar to:

https://github.com/isagalaev/ijson/issues/62

If you're fine with getting one array at a time:
[code]

should work for you.

[2019-05-02 07:35] piskvorky commented on #73
Thanks @SalomonSmeke , that's helpful. So basically, we should sanitize inputs outside of `ijson` if possible (that `seek(0)` may be problematic in streams).

[2019-05-02 07:35] #73 closed

[2019-05-02 15:09] SalomonSmeke commented on #73
@piskvorky no problem friend.

For a more generic answer be sure to check out that S/Overflow link!

[2019-06-21 15:48] rtobar commented on #75
A new version with the fix has been uploaded to PyPI.

[2019-06-21 15:49] rtobar commented on #63
A new release in on PyPI

[2019-06-21 17:30] bmizhen-exos commented on #75
Thank you!

[2019-06-21 17:30] #75 closed

[2019-06-23 00:40] rtobar commented on #66
Solved in ICRAR/ijson, will be published in the next PyPI release.

[2019-06-24 00:44] wfscheper commented on #66
@rtobar, awesome!

[2019-06-24 00:44] #66 closed

[2019-06-24 00:49] rtobar commented on #66
Note that in CentOS 6 you will still get an error trying to import the yajl2-related backends, as the yajl version installed in those systems (unless you installed one yourself) is 1.0.9.

[2019-06-24 15:08] akaIDIOT commented on #63
Thnx for pointing that out, just checked to see that it includes the fix I was looking for :)

[2019-06-24 15:08] #63 closed

[2019-08-12 10:48] mcarans opened #76 "Bug or change in behaviour in ijson from 2.3 to 2.4"
I have noticed a change in behaviour between 2.3 and 2.4. It can be easily seen with this code:
[code]
2.3 runs through. 2.4 fails with:
json.decoder.JSONDecodeError: Invalid control character at: line 1 column 33 (char 32)

[2019-09-06 16:40] soyf commented on #62
Hey guys, is it possible to read into memory in chunks using ijson?

For example I am using:
  for json_item in ijson.items(json_file, 'item'):

And while it does work and it avoids the 'out of memory' error, it's really slow. I am converting a 100+ GB json to CSV. My json is a list with empty top level prefix similar to example below. So rather than loading one element at a time into memory, is t

[2019-09-06 16:52] rtobar commented on #62
Did you try the C backend? I'm assuming you are using the default backend that is written in pure Python.

[2019-09-06 17:28] soyf commented on #62
Hi @rtobar,

I haven't tried it yet. Is there any installation documentation that you can reference me to? This would be installed on Red Hat Fedora.

[2019-09-08 02:00] rtobar commented on #62
The latest version in PyPI includes it, so it's a matter of getting that and then you will get it. Instructions in how to select it are in https://pypi.org/project/ijson/

[2019-09-08 02:32] isagalaev commented on #62
This is not how the parser works, though. It loads a fixed amount of bytes (16K) into a buffer and parses out however many JSON items you're requesting out of it, one at a time. It's not slow because of it, as all the data is already in memory. It is slow because it's pure Python, and as @rtobar says you should simply import the C backend explicitly which has the exact same API but is way, way fas

[2019-09-09 19:48] soyf commented on #62
Thanks so much @rtobar  and @isagalaev for your help with this! We installed the C backend but are now facing an error.

I changed my import to be:
  import ijson.backends.yajl2_c as ijson

And now getting this error:
      for json_item in ijson.items(json_file, 'item'):
TypeError: expected bytes, str found

I thought maybe it's as simple as just having to cast to bytes. And tried the following b

[2019-09-10 00:55] rtobar commented on #62
@soyf you'll need to open your file in 'rb' mode, not only 'r', which seems to be what's happening.

[2019-09-10 02:11] soyf commented on #62
Thank you @rtobar!! Got it working!

It is quite faster. Before it took 10 min to write 10k records. Now it took only 3 minutes to do the same.

Many thanks!!

[2019-09-10 04:20] rtobar commented on #76
Note: ijson is now maintained in https://github.com/ICRAR/ijson

@mcarans the JSON content is invalid, as it has non-escaped line feeds (\n) and carriage returns (\r) in its strings and thus fails to be parsed. The python backend incorrectly allow this content to parse, but this was fixed in 2.4 (via #52). On the other hand the other backends, even in 2.3, failed. In 2.4 all fail:

[code]

[code]

[2019-09-10 08:04] mcarans commented on #76
Thanks for your help. I will close this.

[2019-09-10 08:04] #76 closed

[2019-09-19 12:24] clokep opened #77 "Add changelog"
Hi! I see there's been a couple of new releases of this, which is awesome. Thanks!

It'd be great to know what has changed between versions to see how risky an upgrade is. I didn't see a changelog anywhere in the repository and it would be great if there was one! 👍

Thanks again!

[2019-09-20 12:21] rtobar commented on #77
The code is now kept at ICRAR/ijson, there is a changelog there

[2019-09-20 12:35] clokep commented on #77
Oops. Got my repos confused. Thanks for responding! 👍

[2019-09-20 12:35] #77 closed

[2019-10-04 13:54] soyf commented on #62
Hi @rtobar and @isagalaev. I wanted to provide you another update. Before when I said it took 10 min to write 10k records, I was using a Pandas DF in my process. I now realize the DF was a lot of overhead. After removing it, this process is now flying! It converted roughly 9 mill rows to csv in 35 min.

I have one additional question, is there a way to stream from and write directly to S3 bucket?

[2019-10-04 13:58] rtobar commented on #62
Great to hear the good results @soyf, that's very encouraging :)

Regarding your other question, reading off, and writing to S3 would be something you'd have to do yourself. ijson only requires a file-like object; where does the object read data from, or what you do with the resulting parsed results it's up to you.

For future reference, please also be aware that ijson is now maintained under ICRA

[2019-10-04 14:02] isagalaev commented on #62
Good point. I'm closing the issue here. Also, @soyf, I'd say ask on StackOverflow for streaming data in/out of S3. I'm pretty sure it should be possible to fish an open socket out of boto3 internals, but I don't have an answer right away.

[2019-10-04 14:02] #62 closed

[2019-10-04 14:06] soyf commented on #62
Thanks guys

[2019-10-18 09:46] jayvdb opened #78 "Two test failures on Python 2"
[code]

[2019-10-18 09:50] jayvdb opened #79 "Releases missing on GitHub"
https://pypi.org/project/ijson/ has 2.5.x , which the releases tab here only has 2.3

[2019-10-18 09:55] jayvdb commented on #79
@rtobar , I see you are taking on maintenance. Great to see.  Can you confirm that 2.4/2.5 were "non code changing" releases?

[2019-10-20 09:51] rtobar commented on #79
Hi @jayvdb, there is a changelog under ICRAR/ijson that describes changes, please refer to that.

[2019-10-20 10:44] jayvdb commented on #79
Lovely.  Sorry, I see PyPI is pointing at it.  Somehow I missed that.

[2019-10-20 10:44] #79 closed

[2019-10-20 14:51] jayvdb commented on #78
Fixed in https://github.com/ICRAR/ijson/commit/846a1ccc99d1729582a3b0879556d287cc8de46a

[2019-10-20 14:51] #78 closed

[2019-12-16 17:31] chrisengelsma commented on #13
For the Googlers:

There's a detailed explanation on [how to get this to work on the MongoDB API website](https://api.mongodb.com/python/current/examples/custom_type.html), but to summarize:

You have to create a code that converts between BSON's Decimal128 type and Python's Decimal type. Here's what to do:

Import these:
[code]

Create this class:

[code]

Create your codec options:
[code]

Pass

[2019-12-16 17:37] SalomonSmeke commented on #13
@chrisengelsma orrrrr fork ijson and change Decimal to Float!

[2020-01-15 08:11] #71 closed

[2020-01-15 08:11] #70 closed

[2020-01-15 08:12] #69 closed

[2020-01-15 08:13] #67 closed

[2020-01-15 08:14] isagalaev commented on #65
The project has moved over to a new maintainer: https://github.com/rtobar/ijson. Please reopen this issue there if it's still relevant.

[2020-01-15 08:14] #65 closed

[2020-01-15 08:14] isagalaev commented on #64
The project has moved over to a new maintainer: https://github.com/rtobar/ijson. Please reopen this issue there if it's still relevant.

[2020-01-15 08:14] #64 closed

[2020-01-15 08:14] isagalaev commented on #60
The project has moved over to a new maintainer: https://github.com/rtobar/ijson. Please reopen this issue there if it's still relevant.

[2020-01-15 08:14] #60 closed

[2020-01-15 08:14] #59 closed

[2020-01-15 08:14] isagalaev commented on #45
The project has moved over to a new maintainer: https://github.com/rtobar/ijson. Please reopen this issue there if it's still relevant.

[2020-01-15 08:14] #45 closed